.fondo{
    
    background-image: url('../../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height:100vh; 
}
.formAct{
    /* align-items: center; */
    justify-content:center;
    border-radius:5vw;
    background: rgb(0,0,0);
    background: linear-gradient(0, rgba(0,0,0,0.6) 50%, rgba(34, 41, 43, 0.6) 100%);
    margin:10vw ;
    padding:10vw;
    display:flex;
    flex-direction: column;
    /* width:35vw; */
    width: 60%;
    text-align: center;
}

    .tittles{
        text-decoration: none;
    
        padding: 2vw;
        font-size: 4vw;
        min-height:10%;
        /* margin:auto; */
        text-align: center;
        font-family: Playball;

    }
  
    .inputs{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        min-height:90%;
        color: whitesmoke;
        font-family: Playball;
    }
    .name{
        margin-top: 0.8%;
        display:flex;
        justify-content: space-between;
        font-size: 1.8vw;
        font-family: Playball;
        color: rgb(74, 175, 197);
    }
    .colorInputName{
        margin-top: 0.8%;
        font-family: Playball;
        width: 20vw;
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
    }
    .colorInputName:focus{outline: none;}
    .colorInputdificult{
        margin-top: 0.8%;
        width: 20vw;
        font-family: Playball;
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
    }
    .colorInputdificult:focus{outline: none;}
    
    .dificultty{
        margin-top: 0.8%;
        display:flex;
        justify-content: space-between;
        font-size: 1.8vw;
        font-family: Playball;
        color: rgb(74, 175, 197);
    }
    .colorInputduratiob{
        margin-top: 0.8%;
        width: 20vw;
        font-family:arial;
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
    }
    .colorInputduratiob:focus{outline: none;}
    
    .duration{
        font-size: 1.8vw;
        margin-top: 0.8%;
        display:flex;
        justify-content: space-between;
        font-size: 1.5vw;
        font-family: Playball;
        color: rgb(74, 175, 197);
    }
    .duration input{
        margin-top: 0.8%;
        width: 20vw;
        /* font-family:arial; */
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
        font-family: Playball;
    }
    .season{
        margin-top: 0.8%;
        display:flex;
        justify-content: space-between;
        font-size: 1.8vw;
        font-family: Playball;
        color: rgb(74, 175, 197);
    }
    
    .colorInputseason:focus{outline: none;}

    .colorInputseason{
        width: 20.5vw;
        margin-top: 0.8%;
        /* font-family:arial; */
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
        font-family: Playball;
    }
    .itemsSelected{
        font-family: Playball;
        font-size:1.5vw;
        background: rgb(255, 255, 255);
        border-radius: 0.5vw;
        align-items: center;

    }
    

    .titleSelected{
        margin-top: 1vw;
        font-size: 2vw;
    }
    .selectedCountries{
        width: 40vw;
    }
    .selectedCountries:focus{outline: none;}
    .crear{
        
        font-size: 1.5vw;
       border-radius: 0.8vw;
        margin-top: 2vw;
        margin-left: 30%;
        text-align: center;
        font-family:Playball;
        /* height:60%; */
        width: 18vw;
    }
    .crear:hover{
        border-color:rgb(55, 170, 212);
        color:rgb(55, 170, 212);
    }
    .Paises{
    /* display:flex; */
    flex-direction:column;
    /* justify-content:space-between; */
    /* height:5rem; */
    width: 12rem;
    /* border-radius: 5px; */
    }

    @media (min-width:480px){
        .formAct {
            justify-content: center;
            border-radius: 5vw;
            background: #000;
            background: linear-gradient(0,rgba(0,0,0,.6) 50%,rgba(34,41,43,.6));
            margin: 10vw;
            padding: 10vw;
            width: 60%;
            height: 70vw;
            text-align: center;
        }
        .dificultty{
            margin-top: 0.8%;
            display:flex;
            justify-content: space-between;
            font-size: 2.4vw;
            font-family: Playball;
            color: rgb(74, 175, 197);
        }
        .name{
            margin-top: 0.8%;
            display:flex;
            justify-content: space-between;
            font-size: 2.4vw;
            font-family: Playball;
            color: rgb(74, 175, 197);
        }
        .duration{
            margin-top: 0.8%;
            display:flex;
            justify-content: space-between;
            font-size: 2.4vw;
            font-family: Playball;
            color: rgb(74, 175, 197);
        }
        .season{
            margin-top: 0.8%;
            display:flex;
            justify-content: space-between;
            font-size: 2.4vw;
            font-family: Playball;
            color: rgb(74, 175, 197);
        }
        .titleSelected {
            margin-top: 1vw;
            font-size: 2.5vw;
        }
        .crear {
            font-size: 2.4vw;
            border-radius: 8vw;
            margin-top: 2vw;
            margin-left: 30%;
            text-align: center;
            font-family: Playball;
            width: 25vw;
        }
       }