.container{

	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	margin: auto;
	align-content: flex-start;
	/* background: #606c88; 
	background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  */
	padding: 1vw;
	
}

.CardDetail{
	box-shadow: 0 2px 80px rgba(0, 0, 0, 0.87);
	background: #141E30;  
	background: linear-gradient(to right, #0c294b, #0f1f49); 
	width: 50%;
	border-radius: 8px;
	height: 70%;
	margin: 1.5vw;
	text-align: center;
	
	transition: all 0.25s;


}
.CardDetailName{
	font-size: 4vw;
	font-family:Cinzel ;
	
	color: white;
}
.pActt {
    font-size: 3vw;
    color: #86e1fa;
}
.pActt p {
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 1.3vw;
	font-family:Cinzel ;
}
p:hover{
	color: white;
}
.pAct {
	font-size: 2vw;
		color: #86e1fa;
}
.pActname {
	font-size: 1.2vw;
	color:white;
}
.pActnamee{
	font-family:Cinzel ;
	font-size: 1.1vw;
	color:red;
}

h3{
	font-size: 2.4vw;
}
.span{
	color: rgb(20, 165, 209);
	
}
.spann{
	color: rgb(20, 165, 209);
	
}

@media (max-width:480px){
	.detailsItems{
		font-family: Cinzel;
		font-size: 0.5rem;
		color: white;
	}
	.pAct {
		font-size: 0.7rem;
		color: #86e1fa;
	}
	.spann {
		font-size: 0.6rem;
	}
	.CardDetail {
		box-shadow: 0 2px 80px rgb(0 0 0 / 87%);
		background: #141e30;
		background: linear-gradient(90deg,#0c294b,#0f1f49);
		width: 50%;
		border-radius: 8px;
		margin: 1.5vw;
		text-align: center;
		transition: all .25s;
	}
}